<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
        <!-- todo 1/2-->
<table class="job-listing">
        <div  th:if= "${jobs}">
            <span th:each="job : ${jobs}">
                <tr th:each="thing : ${job}">
                    <th th:for="${thing.key}"></th>
                    <th th:text="${thing.key}"></th>
                        <td th:text="${thing.value}"></td>
                </tr>
\            </span>
        </div>
</table>
        <!-- todo 1/2-->
    </form>

    <hr />
</div>

</body>
</html>